<form action="/subscribe" method="post">
  <input type="text" name="name" placeholder="Name"></input>
  <input type="text" name="email" placeholder="Email"></input>
  <input type="text" name="zipCode" placeholder="Zip Code"></input>
  <input type="text" name="vip" placeholder="VIP"></input>
  <input type="submit" name="submit"></input>

</form> 