<div class="data-form">
    <form action="/users/create" method="POST">
        <h2>Create a new user</h2>
        <label for="inputFirstName">First name</label>
        <input type="text" name="first" id="inputFirstName" placeholder="First" autofocus></input>
        <label for="inputLastName">Last name</label>
        <input type="text" name="last" id="inputLastName" placeholder="Last"></input>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="password" required></input>
        <label for="inputEmail">E-mail</label>
        <input type="email" name="email" id="inputEmail" placeholder="E-mail address" required></input>
        <label for="inputPhoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber" id="inputPhoneNumber" placeholder="Phone Number"></input>
        <label for="inputZipCode">E-mail</label>
        <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" placeholder="Zip Code" required></input>
        <button type="submit">Sign in></button>
    </form>    
</div>